{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h3>About</h1>
</div>
<div>
    <p>
        Game-based learning is an area of educational science that has shown considerable promise in recent years. With
        lecturers and teachers facing the ever-present battle to engage students, game-based learning applications have
        emerged as a happy medium between fun and study. In theory, an engaging learning platform will directly result
        in greater student use, which will hopefully facilitate a greater acquisition of knowledge.
    </p>
    <p>
        Lectic is a web application that provides a customisable game-based learning experience in the form of gamified
        quizzes. The games have been optimised for both mobile and desktop browsers, making them ideal for use by
        students in a lecture-setting or at home.
    </p>
    <p>
        Quiz games can be added by lecturers, which can be given different levels. Students are initially only able play
        level 1 quiz games, but unlock higher levels through gaining coins. Coins are obtained though the completion of
        quiz games and awarded meritocratically based on the performance of a student. Through the use of unlockable
        levels, students will want to play a quiz over and over again, in order gain more coins and unlock higher
        levels.
    </p>
    <p>
        In addition, a lecturer user will be able to view a leader-board of student performances in any given quiz. This
        allows a lecturer to assess the performance of their students, aiding them in identifying students who may be
        struggling.
    </p>
</div>
{% endblock %}