<!DOCTYPE html>
<html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Add Question
{% endblock %}

{% block body_block %}


<div class="jumbotron">
    <h1>Add a Question</h1><br />
    <div class="form-group">
        {% if quiz %}
        <form id="question_form" method="post" action="/lectic/{{ quiz.slug }}/add_question/"> {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br /><br />
            {% endfor %}
            <input type="submit" class="btn btn-danger" name="submit" value="Create Question" />
        </form>
        {% else %}
        <strong>There are no quizzes present.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}

</html>