<!DOCTYPE html>
<html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Add Quiz
{% endblock %}

{% block body_block %}
<div class="breadcrumb">
    <h1>Quiz Admin</h1>
</div>
<div>
    <form class="form" id="quiz_form" method="post" action="/lectic/add_quiz/"> {% csrf_token %}
        <ul class="list-group">

            <li class="list-group-item list-group-item-info justify-content-between" style="border: none">

                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}

                <!-- <label class="sr-only" for="inlineFormInput">{{ field.help_text }}</label> -->
                <!-- <label for="field" class="form-control">{{ field.help_text }}</label> -->
                <!-- <input type="{{ field.field }}" class="" id="field" placeholder="{{ field.help_text }}"> -->
                <!-- <input class="inlineFormInput"> -->
                <span>
                    <span class="text-muted">{{ field.help_text }}</span>{{ field }}{{ field.errors }}
                </span>
                <!-- </input> -->
                {% endfor %}
                <input type="submit" class="btn btn-primary" name="submit" value="Create Quiz" />


            </li>
        </ul>
    </form>

</div>
</br>
<div>
    {% for module in modules %}
    <div class="text-left">
        <h5>{{ module }}</h5>
    </div>
    <ul class="list-group">
        {% for quiz in quizzes %}
        {% if quiz.module == module %}
        <li class="list-group-item justify-content-between">
            {{ quiz.name }}
            <span class="badge badge-pill badge-danger float-left">Level {{ quiz.level}}</span>
            <div>
                <a class="btn btn-outline-primary" href="/lectic/{{ quiz.slug }}/add_question/" role="button">Add
                    Question</a>
                <a class="btn btn-outline-warning" href="/lectic/{{ quiz.slug }}/leaderboard/"
                    role="button">Leaderboard</a>
            </div>
        </li>
        {% else %}
        <!-- <strong>There are no quizzes present for this module.</strong> -->
        {% endif %}
        {% endfor %}
    </ul></br>
    {% endfor %}
</div>
</br></br></br>
<div>
    <div class="alert alert-warning" role="alert">
        <strong>Note: </strong> If you don't see your module, please contact an admin.
    </div>
</div>

{% endblock %}

</html>