<!DOCTYPE html>
<html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Add Question
{% endblock %}

{% block body_block %}


<div class="jumbotron">
    <h1>Add a Question</h1><br />
    <div class="form-group">
        {% if quiz %}
        <form id="question_form" method="post" action="/lectic/{{ quiz.slug }}/add_question/"> {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label }}
            {{ field }}
            <br /><br />
            {% endfor %}
            Quiz = {{ quiz.name }}
            <br /><br />
            <input type="submit" class="btn btn-primary" name="submit" value="Create Question" />
            <a class="btn btn-info" href="{% url 'add_quiz' %}" role="button">Back To Admin</a>
        </form>
        {% else %}
        <strong>There are no quizzes present.</strong>
        {% endif %}
    </div>
</div>
<div class="text-left">
    {% if questions %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-8">Question</th>
                <th class="col-3">Answer</th>
                <th class="col-1">
                    <div class="text-right">Delete</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for q in questions %}
            <tr>
                <td class="col-8">{{ q.question }}</td>
                <td class="col-3">{{ q.answer }}</td>
                <td class="col-1"><a href="/lectic/delete/{{ quiz.slug }}/{{ q.slug }}/" class="close" role="button"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>No questions have been added to {{ quiz }} yet! </strong>
    {% endif %}
    </br></br>
</div>
{% endblock %}

</html>