<!DOCTYPE html>
<html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Add Quiz
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Add a Quiz</h1>
    <form id="quiz_form" method="post" action="/lectic/add_quiz/"> {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        </br>
        {% endfor %}
        </br>
        <input type="submit" class="btn btn-primary" name="submit" value="Create Quiz" />
    </form>
</div>
<div>
    {% if quizzes %}
    <ul class="list-group">
        {% for quiz in quizzes %}
        <li class="list-group-item justify-content-between">
            {{ quiz.name }}
            <div>
                <a class="btn btn-primary" href="/lectic/{{ quiz.slug }}/add_question/" role="button">Add
                    Question</a>
                <a class="btn btn-warning" href="/lectic/{{ quiz.slug }}/leaderboard/" role="button">Leaderboard</a>
            </div>

        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no quizzes present.</strong>
    {% endif %}
</div>
{% endblock %}

</html>