<!DOCTYPE html>
<html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Add Quiz
{% endblock %}

{% block body_block %}
<div>
    {% if quizzes %}
    <div class="text-left">
        {% for quiz in quizzes %}
        <div class="text-left">
            <a href="#" class="btn btn-secondary-outlined disabled" role="button"
                aria-disabled="true">{{ quiz.name }}</a>
            <a class="btn btn-primary" href="/lectic/{{ quiz.slug }}/add_question/" role="button">Add Question</a>
            <a class="btn btn-warning" href="/lectic/{{ quiz.slug }}/leaderboard/" role="button">Leaderboard</a>
            </br></br>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <strong>There are no quizzes present.</strong>
    {% endif %}
</div>
<div>
    <h1>Add a Quiz</h1>
    <form id="quiz_form" method="post" action="/lectic/add_quiz/"> {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Create Quiz" />
    </form>
</div>
{% endblock %}

</html>