<!DOCTYPE html>
{% load staticfiles %}
{% load lectic_template_tags %}

<html>


<title>
    Lectic -
    {% block title_block %}
    {% endblock %}
</title>

<head>
    {% block links_block %}
    {% endblock %}
</head>

<body>
    <div>
        {% block sidebar_block %}
        {% endblock %}
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <hr />
    <div>
        <ul>
            {% if user.is_authenticated %}
            <li>Lecturer? {{ user.user_profile }}</li>
            {% if user.user_profile.is_lecturer %}
            <li><a href="{% url 'add_quiz' %}">Quiz Admin</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'quiz_selection' %}">View Games</a></li>
            {% else %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'quiz_selection' %}">View Games</a></li>
            {% endif %}
            {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
            <li><a href="{% url 'register' %}">Sign Up</a></li>
            {% endif %}
            <li><a href="{% url 'index' %}">Index</a></li>
        </ul>
    </div>
</body>

</html>