{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block links_block %}
Game
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
    var csrf_token = '{{ csrf_token }}';
    var question_ans = '{{ question_select.answer }}';
    var question_select = '{{ question_select }}';
    var csrf_token = '{{ csrf_token }}';
    var quiz_slug = '{{ question_select.quiz.slug }}';
    var quest_num = '{{ question_number }}';
    var quest_count = '{{ questions.count }}';
    var init_quiz_no = '{{ init_quiz }}';
    var new_quiz = '{{ quiz_attempt.auto_id }}';
    var quest_total = parseInt(quest_count)
</script>
<script src="{% static 'js/game.js' %}"></script>

{% endblock %}



{% block body_block %}
{% if question_select %}
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=""
        aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
    </div>
</div>
<div class="jumbotron">
    <p>{{ question_select.question }}</p>
    <form id="attempt_form" method="post" action=""> {% csrf_token %}
        <textarea id="attempt_text" name="attempt_text" form="attempt_text" class="form-control" placeholder="Answer"
            rows="1"></textarea>
        </br>
        <input type="submit" class="btn btn-outline-success" name="submit" value="Submit" />
    </form>
</div>
{% else %}
<strong>There are no questions present.</strong>
{% endif %}
{% endblock %}