<!DOCTYPE html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    {% if user.is_authenticated %}
    <h3>Welcome to Lectic {{ user.username }}!</h1>
        {% else %}
        <h3>Welcome to Lectic!</h1>
            {% endif %}
            <h5>
                <small class="text muted">Making Lectures Tic &#10004</small>
            </h5>
</div>
<div>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'quiz_selection' %}" role="button">Select Game</a>
    {% if perm == True %}
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'add_quiz' %}" role="button">Quiz Admin</a>
    {% else %}
    {% endif %}
</div>
{% endblock %}

</html>