<!DOCTYPE html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Selection
{% endblock %}

{% block body_block %}
<div>
    {% if quizzes %}
    <div class="text-centre">
        {% for quiz in quizzes %}
        <a class="btn btn-outline-primary btn-lg btn-block" href="/lectic/{{ quiz.slug }}/game/0/0000000/"
            role="button">{{ quiz.name }}<span class="badge badge-pill badge-danger float-right">Level 1</span></a>
        {% endfor %}
    </div>
    {% else %}
    <strong>There are no quizzes present.</strong>
    {% endif %}
</div>

{% endblock %}

</html>