<!DOCTYPE html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Review
{% endblock %}

{% block body_block %}
<div class="alert alert-info" role="alert">
    <strong>Congratulations {{ user.username }}!</strong> You successfully completed the {{ quiz_slug }} quiz. <a
        href="#" class="alert-link"></a>
</div>
<div>
    <ul class="list-group">
        <li class="list-group-item active justify-content-between">
            Quiz Summary
        </li>
        <li class="list-group-item justify-content-between">
            Attempt
            <span class="">{{ attempt }}</span>
        </li>
        <li class="list-group-item justify-content-between">
            Score
            <div class="text-right">
                <span class="">{{ quiz_attempt.accumulated_score }}</span> /
                <span class="">{{ quiz_attempt.qes_possible }}</span>
            </div>
        </li>
        <li class="list-group-item justify-content-between">
            <span>Time taken<sup>*</sup></span>
            <span class="">{{ quiz_attempt.performance }} s</span>
        </li>
        <li class="list-group-item justify-content-between">
            Full marks
            {% if quiz_attempt.all_correct == True %}
            <span class="badge badge-success">&#10004;</span>
            {% else %}
            <span class="badge badge-danger">&times;</span>
            {% endif %}
        </li>
        <!-- <li class="list-group-item justify-content-between">
            Merit
            {% if quiz_attempt.merit == True %}
            <span class="badge badge-success">&#10004;</span>
            {% else %}
            <span class="badge badge-danger">&times;</span>
            {% endif %}
        </li> -->
        <li class="list-group-item justify-content-between">
            Speed bonus
            {% if quiz_attempt.distinction == True %}
            <span class="badge badge-success">&#10004;</span>
            {% else %}
            <span class="badge badge-danger">&times;</span>
            {% endif %}
        </li>
        <li class="list-group-item justify-content-between">
            Quiz position
            <div class="text-right">
                <span class="">{{ pos }}</span> /
                <span class="">{{ tot }}</span>
            </div>
        </li>
        <li class="list-group-item justify-content-between">
            Coins earned
            <span class="badge badge-warning"> + {{ quiz_attempt.coins }}</span>
        </li>
    </ul>
</div>
<br />
<div>
    <ul class="list-group">
        <!-- <li class="list-group-item active justify-content-between">
            Personal Summary
        </li> -->
        {% if pb.performance == quiz_attempt.performance %}
        <li class="list-group-item justify-content-between">
            Personal best
            <span class="">
                <span class="badge badge-info">New!</span> {{ pb.performance }} s</span>
        </li>
        {% else %}
        {% endif %}
        <li class="list-group-item justify-content-between">
            Class position
            <div class="text-right">
                <span class="">{{ pos_inclass }}</span> /
                <span class="">{{ tot_class }}</span>
            </div>
        </li>
    </ul>
    <p class="text-left"><small class="text-muted">*Penalty of +10s applied for incorrect answers</small></p>
</div>
<div>
    <a class="btn btn-outline-primary btn-block" href="/lectic/{{ quiz_slug }}/game/0/0000000/" role="button">Play
        Again!</a>
    <!-- <a class="btn btn-outline-primary btn-block" href="{% url 'quiz_selection' %}" role="button">View Quizzes</a> -->
</div>
{% endblock %}

</html>