<!DOCTYPE html>

{% extends 'lectic/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
Register for Lectic!
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Register</h1>
</div>
<div>
    {% if registered %}
    <h2> Thank you for registering!</h2>
    <a href="{% url 'login' %}">Sign in here!</a>
    {% else %}
    <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        <div class=text-left>
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
        </div>
        <input type="submit" class="btn btn-outline-success btn-lg" name="submit" value="Register" />
    </form>
    <br />
    {% endif %}
</div>
{% endblock %}

</html>